#title{
  color: red;
  text-align: center;
}

body{
  background: #505050;
  background-image: url('images/Background.png');
}

#player{
  position: relative;
  z-index: 2;
}

button{
  position: relative;
  text-align: center;
}


#scoreboard{
  position: absolute;
  bottom: 0px;
  margin-left: 50%;
}

th{
  font-size: 24px;
  font-style: oblique;
  color: #11ff90;
}

td{
  font-size: 18px;
  color: #ff1149;
  text-align: center;
}
