#title{
  color: red;
  text-align: center;
}

body{
  background: #505050;
  background-image: url('images/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#player{
  position: relative;
  z-index: 2;
}

button{
  position: relative;
}


#scoreboard{
  position: absolute;
  bottom: 0px;
  margin-left: 50%;
  z-index: 4
}

th{
  font-size: 40px;
  font-style: oblique;
  color: #5c0f9b;
}

td{
  font-size: 30px;
  color: #9b0f30;
  text-align: center;
}
